Dependências do Node.js (Frontend)

/frontend-web/node_modules
/frontend-web/build
/frontend-web/.npm

Banco de Dados (Docker)

/postgres-data

Arquivos de Cache do Python (Backend)

/backend/app/pycache
/backend/pycache
*.pyc

Pasta de ambiente virtual (se você criar uma local)

.venv
venv/

Arquivos de sistema

.DS_Store
Thumbs.db

Arquivos do VSCode (opcional, mas recomendado)

.vscode/

A LINHA MAIS IMPORTANTE:

Ignora o arquivo .env que contém os segredos

/.env

/backend/uploads/
/backend/app/data/*.db
.venv_fix
/mock-compasso/node_modules
/mock-compasso/build
/mock-compasso/.npm